In [2]:
import pandas as pd
import sqlite3

In [6]:
db = r"./roe4_data/violations.db"
query = """
SELECT business_id, COUNT(*) AS violation_count
FROM violations
WHERE risk_category = 'Moderate Risk'
  AND strftime('%w', date) = '1'  -- %w returns the day of the week (0 = Sunday, 1 = Monday)
GROUP BY business_id;

"""
conn = sqlite3.connect(db)
cursor = conn.cursor()
cursor.execute(query)
results = cursor.fetchall()

bus_id_list = []
for row in results:
    business_id, violation_count = row
    bus_id_list.append([business_id, violation_count])
    #print(f"Business ID: {business_id}, Violations Count: {violation_count}")

cursor.close()
conn.close()

In [7]:
len(bus_id_list)

1133

In [13]:
from get_files import get_files
import os
html_files = get_files(r"./roe4_data/",r".html")
len(html_files), html_files[:5]

(40,
 ['./roe4_data/biz-92672.html',
  './roe4_data/biz-94013.html',
  './roe4_data/biz-94014.html',
  './roe4_data/biz-94066.html',
  './roe4_data/biz-94101.html'])

In [ ]:
from bs4 import BeautifulSoup
import re 
html_file = html_files[3]
with open(html_file, "r") as f:
    text = f.read()

soup = BeautifulSoup(text, "html.parser")

In [54]:
all_data = []
for file_num, html_file in enumerate(html_files):
    with open(html_file, "r") as f:
        text = f.read()

    
    soup = BeautifulSoup(text, "html.parser")

    tables = soup.find_all("table")
    print(f"File number: {file_num:3d}: {len(tables)=}; {html_file}", )

    for table in tables:
        # table = tables[0]
        rows = table.find_all("tr")
        dict_for_table = {}
        for row in rows:
            cells = row.find_all("td")
            if len(cells)>2:
                # print([cell.string for cell in cells])
                dict_for_table[cells[0].string] = cells[1].string
                dict_for_table[cells[2].string] = cells[3].string
        #print(dict_for_table)
        all_data.append(dict_for_table)

File number:   0: len(tables)=1; ./roe4_data/biz-92672.html
File number:   1: len(tables)=2; ./roe4_data/biz-94013.html
File number:   2: len(tables)=3; ./roe4_data/biz-94014.html
File number:   3: len(tables)=1; ./roe4_data/biz-94066.html
File number:   4: len(tables)=2; ./roe4_data/biz-94101.html
File number:   5: len(tables)=494; ./roe4_data/biz-94102.html
File number:   6: len(tables)=575; ./roe4_data/biz-94103.html
File number:   7: len(tables)=150; ./roe4_data/biz-94104.html
File number:   8: len(tables)=226; ./roe4_data/biz-94105.html
File number:   9: len(tables)=341; ./roe4_data/biz-94107.html
File number:  10: len(tables)=252; ./roe4_data/biz-94108.html
File number:  11: len(tables)=436; ./roe4_data/biz-94109.html
File number:  12: len(tables)=588; ./roe4_data/biz-94110.html
File number:  13: len(tables)=275; ./roe4_data/biz-94111.html
File number:  14: len(tables)=202; ./roe4_data/biz-94112.html
File number:  15: len(tables)=222; ./roe4_data/biz-94114.html
File number:  16: len(tables)=231; ./roe4_data/biz-94115.html
File number:  17: len(tables)=89; ./roe4_data/biz-94116.html
File number:  18: len(tables)=205; ./roe4_data/biz-94117.html
File number:  19: len(tables)=245; ./roe4_data/biz-94118.html
File number:  20: len(tables)=1; ./roe4_data/biz-94120.html
File number:  21: len(tables)=161; ./roe4_data/biz-94121.html
File number:  22: len(tables)=265; ./roe4_data/biz-94122.html
File number:  23: len(tables)=184; ./roe4_data/biz-94123.html
File number:  24: len(tables)=186; ./roe4_data/biz-94124.html
File number:  25: len(tables)=68; ./roe4_data/biz-94127.html
File number:  26: len(tables)=2; ./roe4_data/biz-94129.html
File number:  27: len(tables)=7; ./roe4_data/biz-94130.html
File number:  28: len(tables)=47; ./roe4_data/biz-94131.html
File number:  29: len(tables)=128; ./roe4_data/biz-94132.html
File number:  30: len(tables)=447; ./roe4_data/biz-94133.html
File number:  31: len(tables)=71; ./roe4_data/biz-94134.html
File number:  32: len(tables)=5; ./roe4_data/biz-94143.html
File number:  33: len(tables)=18; ./roe4_data/biz-94158.html
File number:  34: len(tables)=1; ./roe4_data/biz-94188.html
File number:  35: len(tables)=1; ./roe4_data/biz-94545.html
File number:  36: len(tables)=1; ./roe4_data/biz-94602.html
File number:  37: len(tables)=1; ./roe4_data/biz-95105.html
File number:  38: len(tables)=2; ./roe4_data/biz-CA.html
File number:  39: len(tables)=220; ./roe4_data/biz-null.html

In [ ]:
df = pd.DataFrame(all_data)

In [56]:
df2 = df[df['owner_zip'].str.contains('94110')].copy()

In [60]:
df_v = pd.read_csv('selected_business_id.csv', sep='\t')
df_v

      business_id  violation_count
0              24                1
1              45                5
2              61                2
3              95                2
4              98                2
...           ...              ...
1128        87469                1
1129        87615                1
1130        87814                1
1131        87815                1
1132        88129                1

[1133 rows x 2 columns]

In [61]:
df_v['business_id'].to_list()

[24,
 45,
 61,
 95,
 98,
 132,
 194,
 198,
 200,
 217,
 236,
 275,
 281,
 299,
 315,
 393,
 429,
 443,
 448,
 475,
 477,
 489,
 500,
 502,
 507,
 510,
 527,
 529,
 538,
 551,
 552,
 558,
 580,
 588,
 591,
 597,
 615,
 627,
 628,
 659,
 691,
 695,
 726,
 741,
 768,
 786,
 792,
 796,
 811,
 821,
 827,
 835,
 884,
 919,
 935,
 952,
 961,
 972,
 984,
 985,
 1000,
 1005,
 1018,
 1043,
 1047,
 1146,
 1151,
 1154,
 1186,
 1216,
 1232,
 1244,
 1249,
 1289,
 1337,
 1351,
 1381,
 1426,
 1427,
 1438,
 1442,
 1465,
 1505,
 1508,
 1526,
 1527,
 1532,
 1566,
 1568,
 1571,
 1582,
 1596,
 1607,
 1609,
 1623,
 1626,
 1671,
 1677,
 1687,
 1703,
 1734,
 1741,
 1753,
 1754,
 1777,
 1788,
 1791,
 1823,
 1829,
 1830,
 1836,
 1844,
 1850,
 1852,
 1865,
 1867,
 1921,
 1927,
 1942,
 1950,
 1952,
 1954,
 1963,
 1973,
 1977,
 1978,
 2004,
 2008,
 2053,
 2060,
 2066,
 2094,
 2110,
 2127,
 2134,
 2233,
 2240,
 2252,
 2263,
 2266,
 2280,
 2334,
 2336,
 2337,
 2347,
 2352,
 2356,
 2357,
 2358,
 2359,
 2360,
 2401,
 2418,
 2420,
 2421,
 2427,
 2428,
 2447,
 2455,
 2483,
 2497,
 2505,
 2507,
 2517,
 2542,
 2544,
 2555,
 2559,
 2580,
 2610,
 2615,
 2627,
 2645,
 2646,
 2648,
 2652,
 2659,
 2684,
 2690,
 2714,
 2725,
 2737,
 2739,
 2764,
 2766,
 2777,
 2785,
 2810,
 2826,
 2836,
 2862,
 2866,
 2883,
 2899,
 2917,
 2926,
 2933,
 2934,
 2942,
 2945,
 2955,
 2971,
 2972,
 2980,
 2987,
 2995,
 3025,
 3029,
 3038,
 3046,
 3048,
 3054,
 3061,
 3065,
 3076,
 3095,
 3112,
 3114,
 3115,
 3121,
 3133,
 3167,
 3190,
 3211,
 3222,
 3237,
 3241,
 3252,
 3286,
 3317,
 3325,
 3328,
 3335,
 3338,
 3373,
 3420,
 3425,
 3429,
 3431,
 3432,
 3433,
 3437,
 3445,
 3449,
 3456,
 3482,
 3485,
 3492,
 3498,
 3562,
 3591,
 3613,
 3614,
 3623,
 3639,
 3649,
 3655,
 3676,
 3736,
 3738,
 3741,
 3743,
 3784,
 3795,
 3834,
 3864,
 3869,
 3899,
 3902,
 3920,
 3942,
 3948,
 3951,
 3955,
 3982,
 4025,
 4057,
 4068,
 4158,
 4425,
 4438,
 4465,
 4476,
 4479,
 4481,
 4509,
 4519,
 4531,
 4544,
 4555,
 4559,
 4584,
 4590,
 4592,
 4594,
 4610,
 4620,
 4621,
 4622,
 4623,
 4637,
 4638,
 4642,
 4654,
 4694,
 4700,
 4703,
 4706,
 4734,
 4746,
 4753,
 4754,
 4762,
 4780,
 4782,
 4787,
 4789,
 4791,
 4794,
 4797,
 4798,
 4804,
 4806,
 4817,
 4842,
 4874,
 4892,
 4900,
 4905,
 4907,
 4917,
 4952,
 4960,
 4978,
 4986,
 4987,
 5006,
 5011,
 5038,
 5090,
 5096,
 5143,
 5268,
 5291,
 5564,
 5913,
 5925,
 5942,
 5952,
 5959,
 5961,
 5966,
 6620,
 6640,
 6734,
 6860,
 6916,
 7085,
 7216,
 7243,
 7276,
 7394,
 7488,
 7491,
 7501,
 7561,
 7618,
 7640,
 7641,
 7643,
 7646,
 7652,
 7678,
 7736,
 7745,
 7761,
 7771,
 7772,
 7779,
 7786,
 7856,
 7857,
 9164,
 9310,
 9358,
 9436,
 9710,
 9948,
 10102,
 10131,
 10227,
 10376,
 10470,
 10668,
 10875,
 11018,
 11416,
 11835,
 11860,
 12285,
 12788,
 13671,
 13814,
 13831,
 13838,
 14075,
 14568,
 14577,
 15055,
 16432,
 16441,
 16513,
 17411,
 17570,
 17616,
 18047,
 18079,
 18102,
 18126,
 18298,
 18514,
 18606,
 18616,
 18800,
 18824,
 18826,
 18874,
 18981,
 18996,
 19055,
 19076,
 19094,
 19138,
 19277,
 19357,
 19386,
 20116,
 20367,
 21785,
 21921,
 21982,
 22606,
 23068,
 23704,
 23865,
 24198,
 24978,
 25048,
 25301,
 25374,
 25572,
 26025,
 26343,
 27053,
 27056,
 27306,
 27472,
 27680,
 27799,
 27949,
 27964,
 27986,
 28318,
 28836,
 29246,
 30156,
 30478,
 30532,
 32200,
 32556,
 32579,
 32625,
 32729,
 32818,
 32823,
 32835,
 32862,
 32872,
 32887,
 32925,
 32992,
 33093,
 33145,
 33173,
 33591,
 33700,
 33911,
 33999,
 34033,
 34144,
 34434,
 34458,
 34585,
 34611,
 34676,
 34685,
 34787,
 34839,
 34885,
 35106,
 35221,
 35340,
 35425,
 35464,
 35503,
 35659,
 35702,
 35805,
 35855,
 35882,
 35884,
 36001,
 36022,
 36023,
 36215,
 36216,
 36473,
 36494,
 36513,
 36614,
 36635,
 36645,
 36673,
 36685,
 36695,
 36699,
 36744,
 36745,
 36750,
 36786,
 36840,
 37170,
 37344,
 37361,
 37389,
 37405,
 37407,
 37462,
 37682,
 37698,
 37731,
 37802,
 37818,
 37820,
 38073,
 38091,
 38112,
 38201,
 38202,
 38427,
 38428,
 38442,
 38564,
 38566,
 38580,
 38788,
 38808,
 38885,
 38929,
 39048,
 39113,
 39119,
 39205,
 39396,
 39398,
 39481,
 39495,
 39528,
 39667,
 39695,
 39875,
 39980,
 40217,
 40227,
 57579,
 57584,
 57653,
 57751,
 57754,
 58574,
 58576,
 58611,
 58637,
 59009,
 59124,
 59178,
 59251,
 59331,
 59407,
 59577,
 59599,
 59637,
 59651,
 59691,
 59828,
 59949,
 60029,
 60067,
 60115,
 60256,
 60290,
 60345,
 60354,
 60355,
 60380,
 60400,
 60484,
 60548,
 60602,
 60737,
 60789,
 60933,
 60963,
 61001,
 61093,
 61135,
 61136,
 61180,
 61187,
 61356,
 61357,
 61436,
 61471,
 61512,
 61598,
 61643,
 61861,
 62000,
 62010,
 62051,
 62060,
 62064,
 62069,
 62176,
 62443,
 62521,
 62550,
 62551,
 62552,
 62597,
 62702,
 62717,
 62735,
 62765,
 62779,
 62785,
 62941,
 63084,
 63119,
 63131,
 63256,
 63258,
 63265,
 63286,
 63303,
 63503,
 63554,
 63615,
 63619,
 63755,
 63757,
 63780,
 63804,
 63896,
 64021,
 64067,
 64116,
 64161,
 64176,
 64338,
 64380,
 64454,
 64466,
 64502,
 64549,
 64581,
 64626,
 64630,
 64682,
 64717,
 64723,
 64814,
 64940,
 64945,
 65050,
 65086,
 65103,
 65137,
 65138,
 65238,
 65271,
 65283,
 65350,
 65412,
 65529,
 65531,
 65554,
 65580,
 65635,
 65833,
 65852,
 65860,
 65873,
 66173,
 66185,
 66204,
 66229,
 66255,
 66276,
 66280,
 66297,
 66328,
 66336,
 66515,
 66522,
 66536,
 66640,
 66656,
 66679,
 66685,
 66704,
 66732,
 66811,
 66861,
 66961,
 66992,
 67049,
 67063,
 67075,
 67276,
 67448,
 67567,
 67587,
 67741,
 67807,
 67815,
 67839,
 67982,
 68036,
 68037,
 68079,
 68104,
 68105,
 68130,
 68131,
 68148,
 68158,
 68160,
 68172,
 68173,
 68226,
 68242,
 68281,
 68288,
 68351,
 68353,
 68379,
 68390,
 68394,
 68412,
 68421,
 68422,
 68428,
 68433,
 68493,
 68544,
 68560,
 68629,
 68633,
 68672,
 68692,
 68718,
 68761,
 68813,
 68831,
 68842,
 68890,
 68894,
 68916,
 69012,
 69016,
 69066,
 69125,
 69205,
 69207,
 69234,
 69249,
 69253,
 69259,
 69275,
 69282,
 69288,
 69294,
 69353,
 69383,
 69387,
 69403,
 69419,
 69465,
 69475,
 69501,
 69520,
 69618,
 69666,
 69681,
 69682,
 69692,
 69722,
 69737,
 69758,
 69762,
 69799,
 69813,
 69849,
 69863,
 69881,
 69945,
 70132,
 70148,
 70171,
 70207,
 70217,
 70281,
 70459,
 70494,
 70562,
 70619,
 70661,
 70686,
 70754,
 70755,
 70778,
 70780,
 70849,
 70912,
 70914,
 70960,
 70970,
 71057,
 71065,
 71081,
 71088,
 71207,
 71286,
 71287,
 71301,
 71314,
 71327,
 71366,
 71385,
 71456,
 71473,
 71599,
 71649,
 71691,
 71716,
 71761,
 71909,
 71915,
 71946,
 71962,
 71980,
 72015,
 72027,
 72031,
 72093,
 72129,
 72164,
 72169,
 73871,
 73962,
 73963,
 73978,
 74013,
 74149,
 74202,
 74216,
 74238,
 74312,
 74358,
 74371,
 74399,
 74481,
 74524,
 74563,
 74591,
 74671,
 74674,
 74680,
 74712,
 74800,
 74866,
 74869,
 74959,
 74975,
 74981,
 74983,
 74993,
 75044,
 75063,
 75108,
 75123,
 75147,
 75204,
 75223,
 75277,
 75353,
 75407,
 75448,
 75452,
 75468,
 75530,
 75637,
 75701,
 75738,
 75765,
 75778,
 75792,
 75801,
 75850,
 75851,
 75942,
 75956,
 75957,
 76035,
 76218,
 76285,
 76360,
 76441,
 76445,
 76465,
 76477,
 76492,
 76503,
 76511,
 76527,
 76547,
 76574,
 76763,
 76817,
 76826,
 76874,
 76905,
 76930,
 76942,
 76950,
 76957,
 76962,
 77005,
 77045,
 77108,
 77168,
 77169,
 77173,
 77252,
 77425,
 77427,
 77432,
 77433,
 77442,
 77546,
 77566,
 77642,
 77667,
 77693,
 77750,
 77760,
 77767,
 77769,
 77771,
 77772,
 77778,
 77781,
 77852,
 77918,
 77973,
 78055,
 78184,
 78204,
 78213,
 78215,
 78216,
 78239,
 78275,
 78278,
 78303,
 78338,
 78426,
 78452,
 78472,
 78473,
 78489,
 78516,
 78521,
 78531,
 78621,
 78669,
 78670,
 78698,
 78706,
 ...]

In [62]:
bid_list = [int(bid) for bid in df2['business_id'].to_list()]
df_v[df_v['business_id'].isin(bid_list)]['violation_count'].sum()

np.int64(191)

In [65]:
df.to_csv('scraped_html.csv',index=False)
df_v.to_csv('violations_csv.csv', index=False)

In [4]:
from tabula.io import read_pdf

pdf_filename = r'./roe4_data/inspections-2016-12.pdf'
pdf_dfs = read_pdf(pdf_filename, pages="all", multiple_tables=True)

In [2]:
len(pdf_dfs)

1

In [3]:
pdf_dfs[0]

   business_id        date  score           type
0        85899  2016-12-15    NaN  New Ownership